.dashboard-title {
    position: relative;
    height: 100vh;
    background-color: #1C222F;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard-title .container {
    margin: 0 !important;
    color: white;
}

.vortex-title {
    color: white;
    font-family: azonix;
    font-size: 50px;
    z-index: 2;
}

.vortex-description {
    color: white;
    font-family: axiforma;
    font-size: 15px;
    padding-top: 15px;
}

.dashboard-name {
    width: 100%;
    height: auto;
}

.dashboard-title-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.3;
}

@media only screen and (max-width: 600px) {
    .dashboard-title-background {
        width: 0px;
        height: auto;
        opacity: 0.2;
    }

    .dashboard-name {

    }
}

.dashboard-buttons {
    width: 100%;
    position: absolute;
    top: 75vh;
    z-index: 100;
    margin: 0;
}

.dashboard-register-button {
    float: left;
}

.dashboard-login-button {
    float: right;
}

.dashboard-buttons-col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 750px) {
    .dashboard-register-button, .dashboard-login-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dashboard-buttons {
        top: 65vh;
    }
    .dashboard-buttons-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sbtn-4c:hover {
    background-color: #5FCD72 !important;
}

.contact-us {
    padding-bottom: 50px;
}

.contact-us-title {
    font-family: axiforma;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 80px;
    font-size: 50px;
    width: 100%;
    margin: 0;
}

.contact-row {
    width: 100%;
    padding-bottom: 30px;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .contact-row .col-md-4 {
        padding-bottom: 50px;
    }
    .contact-row {
        padding-bottom: 0px;
    }
}

.contact-name {
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2;
    font-family: axiforma;
}

.contact-designation {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    font-family: axiforma;
    color: #F15076;
}

.contact-number {
    font-family: axiforma;
    margin-bottom: 0;
}

.about-us {
    padding-bottom: 60px;
}

.about-us-content {
    font-family: axiforma;
    padding-left: 100px;
    padding-right: 80px;
}


.about-us-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-image-img {
    display: block;
    max-width:100%;
    max-height:480px;
    width: auto;
    height: auto;
    padding-right: 0;
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
}

@media only screen and (max-width: 600px) {
    .about-us-content {
        padding-left: 40px;
        padding-right: 15px;
        text-align: justify;
    }

    .about-us-image {
        display: none;
    }
}

.about-us-title {
    font-family: axiforma;
    padding-top: 100px;
    padding-bottom: 60px;
    font-size: 50px;
}

.sbtn-4:hover {
    color: black;
    text-decoration: none;
}

.dashboard-scroll {
    position: absolute;
    top: 90vh;
    width: 100%;
}

#mouse-scroll {
    style: block;
}
#mouse-scroll {
    margin: auto;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
    left: calc(50% + 15px);
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .dashboard-scroll {
        top: 90vh;
    }

    #mouse-scroll {
        left: calc(93% + 15px);
    }
}

#mouse-scroll span{
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
}
#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}
#mouse-scroll .down-arrow-1, #mouse-scroll .down-arrow-2, #mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}
#mouse-scroll .down-arrow-1 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #ffffff;
    position: relative;
}
#mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
