.dashboard-title {
    position: relative;
    height: 100vh;
    background-color: #1C222F;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dashboard-title .container {
    margin: 0 !important;
    color: white;
}

.vortex-title {
    color: white;
    font-family: azonix;
    font-size: 50px;
    z-index: 2;
}

.vortex-description {
    color: white;
    font-family: axiforma;
    font-size: 15px;
    padding-top: 15px;
}

.dashboard-name {
    width: 100%;
    height: auto;
}

.dashboard-title-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.3;
}

@media only screen and (max-width: 600px) {
    .dashboard-title-background {
        width: 0px;
        height: auto;
        opacity: 0.2;
    }

    .dashboard-name {

    }
}

.dashboard-login-button {
    width: 100%;
    position: absolute;
    top: 75vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbtn-4c:hover {
    background-color: #5FCD72 !important;
}

.contact-us {
    padding-bottom: 50px;
}

.contact-us-title {
    font-family: axiforma;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 80px;
    font-size: 50px;
}

.contact-row {
    width: 100%;
    padding-bottom: 30px;
    margin: 0;
}

.contact-name {
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.2;
    font-family: axiforma;
}

.contact-designation {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    font-family: axiforma;
    color: #F15076;
}

.contact-number {
    font-family: axiforma;
}

.about-us {
    padding-bottom: 60px;
}

.about-us-content {
    font-family: axiforma;
    padding-left: 100px;
    padding-right: 80px;
}


.about-us-image {
    padding-left: 80px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us-image-img {
    display: block;
    max-width:480px;
    max-height:480px;
    width: auto;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .about-us-content {
        padding-left: 40px;
        padding-right: 15px;
        text-align: justify;
    }

    .about-us-image {
        display: none;
    }
}

.about-us-title {
    font-family: axiforma;
    padding-top: 100px;
    padding-bottom: 60px;
    font-size: 50px;
}

.sbtn-4:hover {
    color: black;
    text-decoration: none;
}