.forgot-password-title {
    width: 100%;
    font-family: axiforma;
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 40px;
}

@media only screen and (max-width: 700px) {
    .forgot-password-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.forgot-password-form {
    background-color: #F1F1F1;
    padding: 40px 0px;
    font-family: axiforma;
}

.reset-link-btn {
    background-color: #141822;
    color: white !important;
    text-decoration: none;
    margin: 0;
    min-width: 315px;
}

.reset-link-btn:hover {
    text-decoration: none;
    color: white;
}
