.navbar-menu {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1000;
    -webkit-transition-property: top, bottom;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.6s;
}

.navbar-menu div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.navbar-link a {
    text-decoration: none;
    color: black;
    font-family: axiforma;
    font-size: 30px;
    -webkit-transition: font-size 0.1s ease-in
}

.navbar-link {
    -webkit-transition-property: top, opacity;
    -webkit-transition-duration: 0.2s;
    padding-bottom: 10px;
    min-height: 80px;
}

.navbar-link a:hover {
    font-size: 38px;
    cursor: pointer;
}
@media (max-width: 767px) {
 .size {
      font-size:1.4em!important;
    }
  }
  @media (max-width: 575px) {
    .size {
         font-size:2rem!important;
       }
     }