.not-found-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Axiforma;
}

.not-found-row {
    width: 100%;
    margin: 0;
}

.not-found-404 {
    font-size: 100px;
}

.not-found-text {
    font-size: 40px;
}