@media only screen and (max-width: 600px) {
  .profile-title {
    width: 100%;
    font-family: axiforma;
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 40px;
  }

  .profile-title-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-row .input-field-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-row .input-field-col .input-field {
    width: 80%;
    text-align: center;
  }

  .profile-row .input-field-col .input-field:disabled {
    background-color: #fffaf6;
    color: black;
  }

  .profile-row .input-field-tag {
    font-family: axiforma;
    font-size: 20px;
    text-align: center;
  }

  .profile-row {
    padding-bottom: 15px;
    width: 100%;
    margin: 0;
  }

  .profile-button-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-edit {
    background-color: #fcad31;
  }

  .btn-edit:hover {
    background-color: #efa42e;
  }

  .btn-edit:before {
    font-size: 25px;
  }

  .edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-logout {
    background-color: red;
  }

  .btn-logout:hover {
    background-color: darkred;
  }

  textarea:disabled {
    background-color: #fffaf6 !important;
  }

  .profile-row .input-field-col .input-field:focus {
    border: 1px solid #1c222f;
  }

  .profileBtn {
    padding: 10px;
    min-width: 100px;
    border-radius: 50px;
  }
}

@media only screen and (min-width: 600px) {
  .profile-title {
    width: 100%;
    font-family: axiforma;
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 40px;
  }

  .profile-title-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-row .input-field-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-row .input-field-col .input-field {
    width: 80%;
    text-align: center;
  }

  .profile-row .input-field-col .input-field:disabled {
    background-color: #fffaf6;
    color: black;
  }

  .profile-row .input-field-tag {
    font-family: axiforma;
    font-size: 20px;
    text-align: center;
  }

  .profile-row {
    padding-bottom: 15px;
    width: 100%;
    margin: 0;
  }

  .profile-button-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-edit {
    background-color: #fcad31;
  }

  .btn-edit:hover {
    background-color: #efa42e;
  }

  .btn-edit:before {
    font-size: 25px;
  }

  .edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-logout {
    background-color: red;
  }

  .btn-logout:hover {
    background-color: darkred;
  }

  textarea:disabled {
    background-color: #fffaf6 !important;
  }

  .profile-row .input-field-col .input-field:focus {
    border: 1px solid #1c222f;
  }

  .profileBtn {
    padding: 15px;
    min-width: 150px;
    border-radius: 50px;
  }
}
